.main-container {
	height: 50vh;
	width: 95vw;
	margin: 0 auto;
	border-radius: 1vw;
	background-color: #fefefe;
	position: relative;
}

.main-container:after {
	content: "";
	display: inline-block;
	width: 95vw;
	height: 50vh;
	position: absolute;
	background-color: transparent;
	border: 1px solid #ffff66;
	border-radius: 1vw;
	top: 4vh;
	left: 1vw;
	z-index: -1;
}
